//STYLING GOES HERE
html{
	height: 100%;
}

/*START top image and header*/
.combined{

	background-image: url(citysky.jpg);
	height: 100%;
	max-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	position: relative;
	filter: brightness(0.89); 
	block-size: auto;
	object-fit: contain;

}

.combined h1{

	position: relative;
	z-index: 10;
	overflow: auto;
	height: 600px;
	max-width: auto;
	margin: 0px;
	text-align: center;
	padding-top: 270px;
	color: white;
	text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Noto Serif Georgian', serif;
    font-size: 65px;

}


.container-fluid{
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.4); /**/
	background-color: #D6EAF8;
	font-family: 'Noto Serif Georgian', serif;
	

}

.navbar{
	display: flex;
	padding-top: 20px;
}

.navbar a{
	color: #2C3E50 !important; /*!important overrides bootstrap styling*/

}
/*END top image and header*/


/*START Project Items*/
.all_projects{
	display: flex;
	justify-content: center;

}

.Project1{
	display: flex;
	font-family: 'Noto Serif Georgian', serif;
	margin: 180px;
	font-size: 24px;
	display: flex;
	gap: 15px;
}


/*LEFT SIDE*/
.Project1a{
	max-width: 500px;
	float:left;
	height:auto; 
	background: #E5E8E8 ; 
	margin:10px;
	padding: 50px;
}

.penguin_image{
	width: 550px;
	max-width: 100%;
	height: auto;
	margin-top: 30px;
}

li{
	font-size: 18px;
}

/*RIGHT SIDE*/
.Project1b{
	max-width: 500px; 
	float:left; 
	height:auto; 
	background: #E5E8E8 ; 
	margin:10px;
	padding: 50px;
}

p{
	
	font-size: 20px;
	
}

hr{
	color: #E5E8E8;
}




/*END Project Items*/




/*LESSONS LEARNED:
.combined img{ 
	
	/*background-repeat: none;
	filter: brightness(0.85);
	background-image: url(citysky.jpg);
	background-position: center center;
	background-size:contain; 
	position: absolute;
	width: 100%; 
	height: 73%;
	overflow: hidden;
	top: 0%;
	left: 0%;
}*/
/*why does the above styling not work?
/*because the image is not going into the parent div
*//*also, the background-size contain was not stretching out the image to 100%*/





























