//STYLING GOES HERE
html{
	height: 100%;
}


.combined{

	background-image: url(citysky.jpg);
	height: 100%;
	max-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	position: relative;
	filter: brightness(0.85); 
	block-size: auto;
	object-fit: contain;
}

.combined h1{

	position: relative;
	z-index: 10;
	overflow: auto;
	height: 600px;
	max-width: auto;
	margin: 0px;
	text-align: center;
	padding-top: 270px;
	color: white;
	text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Noto Serif Georgian', serif;
    font-size: 65px;
}

/*
.combined img{ 
	
	/*background-repeat: none;
	filter: brightness(0.85);
	background-image: url(citysky.jpg);
	background-position: center center;
	background-size:contain; 
	position: absolute;
	width: 100%; 
	height: 73%;
	overflow: hidden;
	top: 0%;
	left: 0%;
}*/
/*why does the above styling not work?
/*because the image is not going into the parent div
*//*also, the background-size contain was not stretching out the image to 100%*/



.container-fluid{
	background-color: #D6EAF8;
	font-family: 'Noto Serif Georgian', serif;
	font-weight: 700;
	font-size: 15px;
}

.navbar{
	display: flex;
	padding-top: 15px;
}

/*https://codingyaar.com/responsive-bootstrap-navbar-center-align/*/






























