//STYLING GOES HERE
html{
	height: 100%;
}

h1{
	background: url('https://images.pexels.com/photos/302769/pexels-photo-302769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	height: 500px;
	max-width: auto;
	margin: 0px;
	text-align: center;
	padding-top: 200px;
}
.container-fluid{
	background-color: #D6EAF8;
}


/*body{
	background: linear-gradient( 135deg, #F97794 10%, #623AA2 100% );
	background-size: cover;
	}*/
























